.cartList{
    display: flex;
    flex-direction: column;
    gap: var(--fs12);

    .cartItem{
        margin-bottom: var(--fs12);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--fs12);
        border-radius: var(--fs12);
        padding: var(--fs12);
        background-color: var(--dark-colors-white-dark);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.3s;

        &:hover{
            transform: translateY(-5px);
        }

        .cartImg{
            border-radius: var(--fs12);
            overflow: hidden;
            width: 100px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cartTitle{
            flex: 1;
            cursor: pointer;
        }

        .cartTitle:hover{
            font-weight: bold;
        }

        .cartPrice, .cartSum{
            width: 110px;
            text-align: right;
        }

        .cartBtn{
            background-color: #dcdbdb;
            border-radius: var(--fs8);

            button{
                border: none;
                outline: none;
                padding: var(--fs12) var(--fs20);
                font-size: var(--fs16);
                background-color: transparent;
            }

            span{
                display: inline-block;
                width: 50px;
                text-align: center;
            }
        }

        .cartDelete{
            padding: var(--fs12);
            cursor: pointer;

            &:hover{
                color: var(--light-colors-errors-light);
            }
        }

    }
}

@media (max-width : 900px) {
    .cartList > .cartItem{
        display: grid;
        grid-template-columns: 1fr 1fr 50px;
        grid-template-rows: repeat(4, 1fr);

        .cartImg{
            grid-column: 1/2;
            grid-row: 1/5;
            width: 100%;
            height: 100%;
        }

        .cartTitle, .cartPrice, .cartSum{
            grid-column: 2/4;
        }

        .cartBtn{
            order: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .cartDelete{
            order: 5;
        }
    }
}

@media (max-width: 500px) {
    .cartList > .cartItem{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        & > div{
            width: 100%;
        }

        & > .cartBtn {
            width: calc(100% - 80px);
        }

        & > .cartDelete{
            width: 50px;
        }
    }
}
