.layout {
    display: flex;
    gap: 1rem;
    padding: 1rem;
  
    & > * {
      border-radius: 8px;
      padding: 1rem;
    }
  
    & > ul {
      width: 200px;
      background-color: #dfdede;
      height: calc(100vh - 2rem);
    }
  
    & > main {
      background-color: #f0f0f0;
      flex: 1;
    }
  }