.hd {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 200px;
    }

    nav{
        display: flex;
        gap: 1rem;
    }

    
}